VARIABLES:
  .Original:    {{ .Original }}
  .Snake:       {{ .Snake }}
  .SnakeStrip:  {{ .SnakeStrip }}
  .Camel:       {{ .Camel }}
  .CamelStrip:  {{ .CamelStrip }}
  .Pascal:      {{ .Pascal }}
  .PascalStrip: {{ .PascalStrip }}
