# Uses editorconfig to maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[Makefile*]
indent_style = tab
max_line_length = 20000

# Web
[*.{css,html,js,less,sass,scss}]
indent_size = 2

# Configuration formats
[*.{hcl,json,toml,yaml,yml}]
indent_size = 2

[*.go]
indent_style = tab

[*.{md,md.tmpl}]
indent_size = 2
max_line_length = 20000

[*.py]
indent_size = 4

[*.sh]
indent_size = 4
max_line_length = 120

# Terraform files
[*.{tf,tftpl,tfvars}]
indent_size = 2
indent_style = space

[.yamllint]
indent_size = 2

[bats/*.sh]
max_line_length = 20000
