_/
_*.out
_*.txt
_cache_/*
_provider.tf
.dccache
.infracost
.terraform
.terraformrc
*_override.tf
*_override.tf.json
*.pprof
*.test
*.tfstate*
*.zip
**/.terraform/*
callgrind.*
corefunc.test
dist/
override.tf
override.tf.json
secrets.auto.tfvars
terraform
terraform.d/
terraform.rc
tests/.test-data
tests/**/.test-data
tests/**/terraform.*
tests/**/terratest-*
tests/terraform.*
tests/terratest-*
tfplan
