{{ if contains .Input "\n" -}}
locals {
  input = <<EOT
{{ .Input }}EOT
}

{{ end -}}
output "hash_argon2id_base64" {
{{- if contains .Input "\n" }}
  value = provider::corefunc::hash_argon2id_base64(local.input, "somesaltvalue")
{{- else }}
  value = provider::corefunc::hash_argon2id_base64("{{ .Input }}", "somesaltvalue")
{{- end }}
}

#=> {{ .Expected }}
