{{ if contains .Input "\n" -}}
locals {
  input = <<EOT
{{ .Input }}EOT
}

{{ end -}}
output "hash_sha3x384_base64" {
{{- if contains .Input "\n" }}
  value = provider::corefunc::hash_sha3x384_base64(local.input)
{{- else }}
  value = provider::corefunc::hash_sha3x384_base64("{{ .Input }}")
{{- end }}
}

#=> {{ .Expected }}
