{{ if contains .Input "\n" -}}
locals {
  input = <<EOT
{{ .Input }}EOT
}

{{ end -}}
data "corefunc_hash_sha384" "hash_sha384" {
{{- if contains .Input "\n" }}
  input = local.input
{{- else }}
  input = "{{ .Input }}"
{{- end }}
}

#=> {{ .Expected }}
