data "corefunc_str_iterative_replace" "replacements" {
    string = "{{ .Input }}"
{{- with .Replacements }}{{- range . }}

    replacements {
        old = "{{- .Old -}}"
        new = "{{- .New -}}"
    }
{{- end }}{{- end }}
}
#=> {{ .Expected }}
