data "corefunc_str_truncate_label" "truncated" {
    prefix = "NW-ZZZ-CLOUD-TEST-APP-CLOUD-PROD-CRIT"
    label  = "K8S Pods Not Running Deployment Check"
}
#=> NW-ZZZ-CLOUD-TEST-APP-CLOUD-PR…: K8S Pods Not Running Deploymen…
