data "corefunc_url_parse" "url" {
    url = "{{ .InputURL }}"
}
#=> {{ .Href }}
#=> {{ .Protocol }}
#=> {{ .Scheme }}
#=> {{ .Username }}
#=> {{ .Password }}
#=> {{ .Host }}
#=> {{ .Port }}
#=> {{ .Path }}
#=> {{ .Search }}
#=> {{ .Query }}
#=> {{ .Hash }}
#=> {{ .Fragment }}
#=> {{ .DecodedPort }}
