data "corefunc_url_parse" "url" {
    url           = "{{ .InputURL }}"
{{- with .Canonicalizer }}
    canonicalizer = "{{ printf "%v" . }}"
{{- end }}
}
#=> {{ .Href }}
#=> {{ .Protocol }}
#=> {{ .Scheme }}
#=> {{ .Username }}
#=> {{ .Password }}
#=> {{ .Host }}
#=> {{ .Port }}
#=> {{ .Path }}
#=> {{ .Search }}
#=> {{ .Query }}
#=> {{ .Hash }}
#=> {{ .Fragment }}
#=> {{ .DecodedPort }}
