data.corefunc_env_ensure.aws_vault: Reading...
data.corefunc_env_ensure.aws_pager: Reading...
data.corefunc_env_ensure.aws_default_region: Reading...
data.corefunc_env_ensure.aws_default_region: Read complete after 0s [name=AWS_DEFAULT_REGION]

Changes to Outputs:
  + aws_default_region_value = "us-east-1"

You can apply this plan to save these new output values to the Terraform state, without changing any real infrastructure.
╷
│ Error: Problem with Environment Variable
│
│   with data.corefunc_env_ensure.aws_pager,
│   on data-source-AWS_PAGER.tf line 4, in data "corefunc_env_ensure" "aws_pager":
│    4: data "corefunc_env_ensure" "aws_pager" {
│
│ environment variable AWS_PAGER is not defined
╵
╷
│ Error: Problem with Environment Variable
│
│   with data.corefunc_env_ensure.aws_vault,
│   on data-source-AWS_VAULT.tf line 4, in data "corefunc_env_ensure" "aws_vault":
│    4: data "corefunc_env_ensure" "aws_vault" {
│
│ environment variable AWS_VAULT does not match pattern (non)?prod$
╵
