<!--
---
page_title: "{{ .RenderedProviderName }} Provider"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
-->

# {{ .RenderedProviderName }} Provider

{{ .Description | trimspace }}

## Setting-up the provider

{{ tffile "examples/provider/provider.tf" }}

## Updating your lockfile

Running `terraform init` will download the provider and update the [_Dependency Lock File_](https://developer.hashicorp.com/terraform/language/files/dependency-lock) (`.terraform.lock.hcl`) for your _current_ OS and CPU architecture. If you have a team with multiple operating systems or multiple CPU architectures, the _Dependency Lock File_ will be incomplete, and other members on the team won't be able to use it.

In order to resolve this, you can use the `terraform providers lock` command to generate a _Dependency Lock File_ that is compatible with all relevant operating systems and CPU architectures.

~> **NOTE:** For OpenTofu users, the `terraform` command can be replaced with `tofu`.

### Recommended matrix

Per [Recommended Provider Binary Operating Systems and Architectures](https://developer.hashicorp.com/terraform/registry/providers/os-arch):

{{ codefile "shell" "examples/provider/lock.sh" }}

### Extended matrix

{{ codefile "shell" "examples/provider/lock-ext.sh" }}

### Complete matrix

This is the complete list of supported operating systems and architectures for this specific provider:

{{ codefile "shell" "examples/provider/lock-all.sh" }}

## Updating your lockfile

Running `terraform init` will download the provider and update the [_Dependency Lock File_](https://developer.hashicorp.com/terraform/language/files/dependency-lock) (`.terraform.lock.hcl`) for your _current_ OS and CPU architecture. If you have a team with multiple operating systems or multiple CPU architectures, the _Dependency Lock File_ will be incomplete, and other members on the team won't be able to use it.

In order to resolve this, you can use the `terraform providers lock` command to generate a _Dependency Lock File_ that is compatible with all relevant operating systems and CPU architectures.

~> **NOTE:** For OpenTofu users, the `terraform` command can be replaced with `tofu`.

### Recommended matrix

Per [Recommended Provider Binary Operating Systems and Architectures](https://developer.hashicorp.com/terraform/registry/providers/os-arch):

{{ codefile "shell" "examples/provider/lock.sh" }}

### Extended matrix

{{ codefile "shell" "examples/provider/lock-ext.sh" }}

### Complete matrix

This is the complete list of supported operating systems and architectures for this specific provider:

{{ codefile "shell" "examples/provider/lock-all.sh" }}

~> **NOTE:** For OpenTofu users, avoid requesting the `netbsd` platform.

[tfproto6]: https://developer.hashicorp.com/terraform/plugin/terraform-plugin-protocol#protocol-version-6
[TPF]: https://github.com/hashicorp/terraform-plugin-framework

<!-- Preview the provider docs with the Terraform registry provider docs preview tool: https://registry.terraform.io/tools/doc-preview -->
