<!--
---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
-->

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/corefunc_runtime_os/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}

<!-- Preview the provider docs with the Terraform registry provider docs preview tool: https://registry.terraform.io/tools/doc-preview -->
