<!--
---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderName }}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
-->

# {{ .Name }} ({{ .Type }})

{{ .Description | trimspace }}

## Example Usage

### Simple

{{ tffile "examples/data-sources/corefunc_url_parse/data-source-simple.tf" }}

### Complex

{{ tffile "examples/data-sources/corefunc_url_parse/data-source-complex.tf" }}

### Complex (with Google Safe Browsing canonicalizer)

[Google Safe Browsing](https://developers.google.com/safe-browsing/v4/urls-hashing#canonicalization)
is a URL canonicalizer with a different set of rules from standard WHATWG URLs.

{{ tffile "examples/data-sources/corefunc_url_parse/data-source-gsb.tf" }}

{{ .SchemaMarkdown | trimspace }}

<!-- Preview the provider docs with the Terraform registry provider docs preview tool: https://registry.terraform.io/tools/doc-preview -->
