#!/usr/bin/env bats
# https://bats-core.readthedocs.io/en/stable/writing-tests.html

@test "{{ .Snake }}: attrs" {
    run bash -c "tfschema data show -format=json {{ .Snake }} | jq -Mrc '.attributes[]'"

    [[ ${status} -eq 0 ]]
    [[ ${lines[0]} == '' ]]
}
