{{"{{"}} if contains .Input "\n" -{{"}}"}}
locals {
  input = <<EOT
{{"{{"}} .Input {{"}}"}}EOT
}

{{"{{"}} end -{{"}}"}}
data "{{ .Snake }}" "{{ .SnakeStrip }}" {
{{"{{"}}- if contains .Input "\n" {{"}}"}}
  input = local.input
{{"{{"}}- else {{"}}"}}
  input = "{{"{{"}} .Input {{"}}"}}"
{{"{{"}}- end {{"}}"}}
  salt  = "somesaltvalue"
}

#=> {{"{{"}} .Expected {{"}}"}}
