---
# This workflow uses actions that are not certified by GitHub. They are provided
# by a third-party and are governed by separate terms of service, privacy
# policy, and support documentation.

name: Release
on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: false
        type: string

permissions: read-all

jobs:
  release_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    name: GoReleaser
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.cloudflare.com:443
            api.deps.dev:443
            api.github.com:443
            api.gumroad.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            api.securityscorecards.dev:443
            checkpoint-api.hashicorp.com:443
            fulcio.sigstore.dev:443
            get.opentofu.org:443
            ghcr.io:443
            github.com:443
            gitlab.com:443
            golang.org:443
            goreleaser.com:443
            objects.githubusercontent.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            osv-vulnerabilities.storage.googleapis.com:443
            pkg-containers.githubusercontent.com:443
            proxy.golang.org:443
            registry.npmjs.org:443
            rekor.sigstore.dev:443
            release-assets.githubusercontent.com:443
            releases.hashicorp.com:443
            storage.googleapis.com:443
            sum.golang.org:443
            tuf-repo-cdn.sigstore.dev:443
            uploads.github.com:443
            vuln.go.dev:443
            www.bestpractices.dev:443

      - name: Checkout Source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ">= 1.25"
          cache: true

      - name: Import GPG Signing Key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        id: import_gpg
        with:
          gpg_private_key: ${{ secrets.GPG_KEY_B64 }}
          passphrase: ${{ secrets.GPG_PWD }}

      - name: Checkout tag
        if: ${{ github.event.inputs.version != '' }}
        run: |
          git checkout refs/tags/${{ github.event.inputs.version }}

      - name: GoReleaser Action
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
        with:
          distribution: goreleaser-pro
          version: latest
          args: release --clean
