---
# This workflow uses actions that are not certified by GitHub. They are provided
# by a third-party and are governed by separate terms of service, privacy
# policy, and support documentation.

name: Terratest (Post-Release)
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  terratest:
    runs-on: ubuntu-latest
    name: Terratest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.cloudflare.com:443
            api.deps.dev:443
            api.github.com:443
            api.gumroad.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            api.securityscorecards.dev:443
            checkpoint-api.hashicorp.com:443
            fulcio.sigstore.dev:443
            get.opentofu.org:443
            ghcr.io:443
            github.com:443
            gitlab.com:443
            golang.org:443
            goreleaser.com:443
            objects.githubusercontent.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            osv-vulnerabilities.storage.googleapis.com:443
            pkg-containers.githubusercontent.com:443
            proxy.golang.org:443
            registry.npmjs.org:443
            rekor.sigstore.dev:443
            releases.hashicorp.com:443
            storage.googleapis.com:443
            sum.golang.org:443
            tuf-repo-cdn.sigstore.dev:443
            uploads.github.com:443
            vuln.go.dev:443
            www.bestpractices.dev:443

      - name: Checkout Source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ">= 1.25"
          cache: true

      - name: Install Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: 1.9
          terraform_wrapper: false

      - name: Install OpenTofu
        uses: opentofu/setup-opentofu@000eeb8522f0572907c393e8151076c205fdba1b # v1.0.6
        with:
          tofu_version: 1.8
          tofu_wrapper: false

      - name: Run Terratest
        run: |
          cd ./terratest && go test -count=1 -parallel=$(nproc)
