---
# This workflow uses actions that are not certified by GitHub. They are provided
# by a third-party and are governed by separate terms of service, privacy
# policy, and support documentation.

name: TruffleHog
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Declare default permissions as read only.
permissions: read-all

jobs:
  trufflehog_job:
    runs-on: ubuntu-latest
    name: Scan for secrets
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.cloudflare.com:443
            api.deps.dev:443
            api.github.com:443
            api.gumroad.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            api.securityscorecards.dev:443
            checkpoint-api.hashicorp.com:443
            fulcio.sigstore.dev:443
            get.opentofu.org:443
            ghcr.io:443
            github.com:443
            gitlab.com:443
            golang.org:443
            goreleaser.com:443
            objects.githubusercontent.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            osv-vulnerabilities.storage.googleapis.com:443
            pkg-containers.githubusercontent.com:443
            proxy.golang.org:443
            registry.npmjs.org:443
            rekor.sigstore.dev:443
            releases.hashicorp.com:443
            storage.googleapis.com:443
            sum.golang.org:443
            tuf-repo-cdn.sigstore.dev:443
            uploads.github.com:443
            vuln.go.dev:443
            www.bestpractices.dev:443

      - name: Checkout Source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Check secrets with TruffleHog OSS
        uses: trufflesecurity/trufflehog@aade3bff5594fe8808578dd4db3dfeae9bf2abdc # v3.91.1
        with:
          path: ./
          head: HEAD
          extra_args: --only-verified
